@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

html, body, #app{
  height: 100%;
  font-family: 'Sora', sans-serif;
}

#modal{
  position: absolute;
  inset: 0;
}

*{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background: none;
}