$floor-color: #887D44;
$arena-border-color: #fff;
$arena-text-color: #fff;
$btn-bg-color: #e9edc9;
$btn-text-color: #000;
$modal-bg-color: #000;
$table-header-color: #DA980D;
$table-text-color: #fff;
$table-odd-color: #686868;
$table-even-color: #404040;